<div class="app-heading">Apps </div>
<div class="appbox-container">
{{#each apps }}
  <a {{#if target_blank}}target="_blank"{{/if}} href="{{ app_data.url }}">
    <div class="appbox">
      <img class="app-pic" data-app="{{ app }}" src="/static/images/nucleus/app-icons/{{ app }}.png"/>
        <div class="app-name">{{ app_data.name }}</div>
        <div class="app-description">{{ app_data.description }}</div>
    </div>
  </a>
{{/each}}
</div>
<div class="clear-both"></div>
