<div class="app-heading">Groups </div>
<div class="appbox-container">
{{#each groups }}
  <a href="/#groups/{{ username }}/activity">
    <div class="appbox">
      <img class="app-pic" data-app="{{ username }}" src="{{ photo }}"/>
        <div class="app-name">{{ name }}</div>
        <div class="app-info">{{ info }}</div>
    </div>
  </a>
{{/each}}
</div>
<div class="clear-both"></div>
