{{#if app }}
  <img class='app-icon' src='/static/images/nucleus/app-icons/{{ feed.app }}.png'/>
  <a class='app-url' href='{{ app.url }}'>
    <span class='app-name'>
      {{ app.name }}
    </span>
  </a>
{{/if}}

<span class='feed-date'>
  {{ date }}
</span>

{{#if feed.reportable }}
  <span class='report' onclick="submit_report({{ feed.object_pk }}, {{ feed.content_type_pk }});">
    Report
  </span>
{{/if}}

<div style='clear:both'>
</div>
