{{#each sub_categories }}
  <div id="{{ ../main_category }}_{{ @key }}" class="sub_categories" onclick="change_category_bar_name('{{ ../main_category }}', '{{ this }}')"> {{ this }}
  </div>
{{/each}}
