{{#if anonymous}}
  <div class="notice_info" onclick="open_notice({{ notice.id }})">
    <div id="date_source_subject_wrap" class="star_check_absent">
        <div class="notice_date">{{ notice_date }}</div>
            <div class="notice_source">{{ notice.category }}</div>
            <div class="subject_wrap">
              <div class="notice_subject">{{ notice.subject }}</div>
              <div style="clear:both"></div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
    </div>
  </div>
{{else}}
  <div
      class='notice_info {{#if read}}read{{else}}unread {{/if}}'
      id="notice_{{ notice.id }}"
      onclick="open_notice({{ notice.id }})">

      <div id="check_wrap" class="check" onclick="stop_propagation(event)">
        <input
          type="checkbox"
          class="checkboxes"
          onclick="add_to_checklist({{notice.id}}, event)"
          id="check-{{ notice.id }}">
      </div>

      <div
        class="starred"
        onclick="star_notice({{ notice.id }}, event)">

              <i class="fa fa-star" id="star_shape_{{ notice.id }}" {{#if star}} style="color:#F1C40F;"{{else}} style="color:#AAA;"{{/if}}></i>&nbsp
      </div>

        <div id="date_source_subject_wrap" {{#if edit}} class="star_check_present_with_edit" {{else}} class="star_check_present" {{/if}}>
          <div class="notice_date {{#if read}}read{{/if}}">{{ notice_date }}</div>
          <div class="notice_source {{#if read}}read{{/if}}">{{ notice.category }}</div>
          <div class="subject_wrap">
            <div class="notice_subject {{#if read}}read{{/if}}">{{ notice.subject }}</div>
          </div>
        </div>

        <div id="edit_delete" class="star_check_present">
          {{#if edit}}
            <span
              class="delete"
              onclick="delete_notice({{ notice.id }}, event)">
              &nbsp&nbspDelete
            </span>

            <span
              class="edit"
              onclick="edit_notice({{ notice.id }}, event)">
                Edit
            </span>
          {{/if}}
        </div>

    <div style="clear:both"></div>

  </div>
{{/if}}
