{{#if anonymous}}
  <div class="notice_info" onclick="open_notice({{ notice.id }})"> {{ notice.subject }} </div>
{{else}}
  <div 
      class="notice_info" 
      id="notice_{{ notice.id }}"
      onclick="open_notice({{ notice.id }})">

    <input 
      type="checkbox" 
      class="check" 
      id="check-{{ notice.id }}" 
      onclick="add_to_checklist({{notice.id}}, event)">
   
      <span 
        class="read" 
        id=notice_read_{{notice.id}}>
    {{#if read}} 
          R&nbsp
    {{/if}}
      </span>

      <span 
        class="starred" 
        onclick="star_notice({{ notice.id }}, event)">
      
              <i class="fa fa-star" id="star_shape_{{ notice.id }}" {{#if star}} style="color:yellow;" {{/if}}></i>&nbsp
      </span>
      
    <span 
      class="subject">
      {{ notice.subject }}
    </span>
     
    {{#if edit}} 
      <span 
        class="edit" 
        onclick="edit_notice({{ notice.id }}, event)">
          &nbsp&nbspEdit
      </span>

      <span 
        class="delete" 
        onclick="delete_notice({{ notice.id }}, event)">
        &nbsp&nbspDelete
      </span>
    {{/if}}

  </div>
{{/if}}
