{{#if anonymous}}
  <div class="notice_info" onclick="open_notice({{ notice.id }})">
    <div class="notice_date">{{ notice.datetime_modified }}</div>
    <div class="notice_source">{{ notice.category }}</div>
    <div class="subject_wrap">
      <div class="notice_subject">{{ notice.subject }}</div>
      <div style="clear:both"><div>
    </div>
    <div style="clear:both"><div>
  </div>
{{else}}
  <div 
      class='notice_info {{#if read}}read{{else}}unread {{/if}}'
      id="notice_{{ notice.id }}"
      onclick="open_notice({{ notice.id }})">
    
      <input class="check" 
        onclick="add_to_checklist({{notice.id}}, event)"
        type="checkbox" 
        id="check-{{ notice.id }}">
   
      <span 
        class="starred" 
        onclick="star_notice({{ notice.id }}, event)">
      
              <i class="fa fa-star" id="star_shape_{{ notice.id }}" {{#if star}} style="color:#F1C40F;"{{else}} style="color:#AAA;"{{/if}}></i>&nbsp
      </span>

      <div class="notice_date">{{ notice.datetime_modified }}</div>
      <div class="notice_source">{{ notice.category }}</div>
      <div class="subject_wrap">

        {{#if edit}} 
          <span 
            class="delete" 
            onclick="delete_notice({{ notice.id }}, event)">
            &nbsp&nbspDelete
          </span>
         
          <span 
            class="edit" 
            onclick="edit_notice({{ notice.id }}, event)">
              &nbsp&nbspEdit
          </span>
        {{/if}}

          <div class="notice_subject">{{ notice.subject }}</div>

        <div style="clear:both"><div>
      </div>
    <div style="clear:both"><div>

  </div>
{{/if}}
