{{#each numbers}}
  <span id="number-{{ this }}" class="numbers_list" onclick="{{ ../mode1 }}change_page({{ this }})">{{ this }}</span>
{{/each}}
<span id="number-{{tp}}"class="numbers_list" onclick="{{ mode1 }}change_page({{ tp }})">{{ tp }}</span>
</div>

